<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
   <div class="container">

      <div class="header clearfix">        
        <h1><span class="glyphicon glyphicon-search"></span> Buscaticket</h1>
      </div>

  <div class="jumbotron">              
        <form>
			<div class="input-group input-group-lg">
  				<input type="text" class="form-control" name="q" placeholder="Busca el que vulguis..." value="{{q}}">
    			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Busca tickets!</button>
      			</span>  				
  			</div>
		</form>
    <br><br>
		<div id="chart"></div>
		<script>
    $(function () {
      $.getJSON('/oberts-diaris', function (data) {
          $('#chart').highcharts({
              chart: {
                  zoomType: 'x'
              },
              title: {
                  text: 'Tickets oberts i tancats'
              },
              xAxis: {
                  categories: data['dia']
              },
              yAxis: {
                  max:150,
                  title: {
                    text: 'Numero de tickets'
                  }
              },              
              legend: {
                  enabled: false
              },
              series: [{
                  type: 'area',
                  name: 'Oberts en total',
                  data: data['oberts']
              },{
                  type: 'column',
                  name: 'Obrim',
                  data: data['obrim']
              },{
                  type: 'column',
                  name: 'Tanquem',
                  data: data['tanquem']
              }]
          });
      });
    });
		</script>
      </div>
<h3>Resultats: {{resultats|count}}</h3>
{% for resultat in resultats %}
<h4><a href="https://gn6.upc.edu/tiquets/control/tiquetDetallDadesGenerals?requirementId={{resultat.codiTiquet}}"/>{{resultat.assumpte}}</a></h4>
  <b>{{resultat.dadesContacteSolicitant if resultat.dadesContacteSolicitant != 'None'}} 
  {{resultat.solicitantNom if resultat.solicitantNom != 'None'}}</b>
  {% if resultat.dataTancament %} <span class="label label-success">Tancat</span> {{resultat.dataTancament}} 
  {% else %}
  {% if resultat.dataCreacio %} <span class="label label-danger">Obert</span> {{resultat.dataCreacio}} {% endif %}
  {% endif %}
  <p>{{resultat.descripcio|striptags|truncate(250,True)}}</p>
{% endfor %}
</div>
</body>
</html>
