<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
   <div class="container">

      <div class="header clearfix">        
        <h1><span class="glyphicon glyphicon-search"></span> Buscaticket</h1>
      </div>

  <div class="jumbotron">              
        <form>
			<div class="input-group input-group-lg">
  				<input type="text" class="form-control" name="q" placeholder="Busca el que vulguis..." value="{{q}}">
    			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Busca tickets!</button>
      			</span>  				
  			</div>
		</form>
      </div>
<h3>Resultats: {{resultat|count}}</h3>
{% for resultat in resultats %}
<h4>
  <a href="https://gn6.upc.edu/tiquets/control/tiquetDetallDadesGenerals?requirementId={{resultat.codiTiquet}}"/>{{resultat.assumpte}}</h4>
  {% if resultat.dataTancament %} <span class="label label-default">Tancat</span> {{resultat.dataTancament}} {% endif %}
  {% if resultat.dataTancament %} <span class="label label-default">Obert</span> {{resultat.dataObertura}} {% endif %}
{% endfor %}
</ul>
</div>
</body>
</html>
